@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;

    --muted: 0 0% 98%;
    --muted-foreground: 215 16% 47%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --border: 240 5% 84%;
    --input: 240 5% 84%;

    --primary: 0 0% 100%;
    --primary-foreground: 240 10% 4%;

    --secondary: 243 75% 59%;
    --secondary-foreground: 0 0% 100%;

    --accent: 240 10% 4%;
    --accent-foreground: 0 0% 98%;

    --hover: 226 100% 97%;
    --hover-foreground: 240 10% 4%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --success: 161 92% 25%;
    --success-foreground: 0 0 100%;

    --ring: 243 74% 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 100%;

    --muted: 240 10% 4%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 100%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 100%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;

    --primary: 240 10% 4%;
    --primary-foreground: 0 0% 100%;
    --primary-ring: 240 5% 84%;

    --secondary: 243 75% 59%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 0% 98%;
    --accent-foreground: 240 10% 4%;

    --hover: 240 5% 26%;
    --hover-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --success: 161 92% 25%;
    --success-foreground: 0 0% 100%;

    --ring: 240 5% 84%;

    --radius: 0.5rem;
  }
}

@layer base {
  h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight;
  }
  h2 {
    @apply scroll-m-20 border-border text-2xl font-semibold tracking-tight transition-colors;
  }
  h3 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }
  .subtitle {
    @apply text-muted-foreground;
  }
  .todo {
    @apply flex w-full items-center justify-center rounded-md border border-dashed border-border text-sm;
  }
  :disabled {
    @apply cursor-not-allowed opacity-50;
  }
  :invalid {
    @apply invalid:focus:ring-destructive;
  }
  select {
    @apply my-2 block w-full rounded border-border pl-3 pr-10 text-base shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm;
  }
  .scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    /* scrollbar-color: rgba(0, 0, 0, 0.6) #f9f9f9; */
    transition: all 1s ease;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-[14px];
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-br-[4px] rounded-tr-[4px] bg-popover;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[14px] border-4 border-solid border-popover bg-popover-foreground;
  }
}
