@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 161 92% 25%;
    --success-foreground: 0 0 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

.descendent::before {
  content: "";
  width: 14px;
  height: 42px;
  top: -30px;
  left: -20.5px;
  @apply absolute border border-gray-200;
  border-bottom-left-radius: 6px;
  border-right: transparent;
  border-top: transparent;
}

.recharts-rectangle,
.recharts-tooltip-cursor {
  cursor: pointer;
  pointer-events: all !important;
}

.w-full-combo {
  @apply relative [&>div[data-radix-popper-content-wrapper]]:!absolute [&>div[data-radix-popper-content-wrapper]]:w-full [&>div[data-radix-popper-content-wrapper]]:max-w-full;
}

.recharts-tooltip-cursor {
  @apply fill-muted !important;
}

.apexcharts-svg rect {
  @apply cursor-pointer;
}

.apexcharts-svg rect:hover {
  @apply fill-muted-foreground;
}

.apexcharts-yaxis-texts-g text {
  @apply fill-muted-foreground;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 font-heading text-3xl font-extrabold tracking-tight;
  }
  h2 {
    @apply scroll-m-20 border-border font-heading text-2xl font-semibold tracking-tight transition-colors;
  }
  h3 {
    @apply scroll-m-20 font-heading text-xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 font-heading text-lg font-semibold tracking-tight;
  }
  :disabled,
  disabled,
  .disabled {
    @apply cursor-not-allowed select-none opacity-50;
  }
  :invalid {
    @apply invalid:focus:ring-destructive;
  }
  select {
    @apply my-2 block w-full rounded border-border pl-3 pr-10 text-base shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm;
  }
  .scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
    /* scrollbar-color: rgba(0, 0, 0, 0.6) #f9f9f9; */
    transition: all 1s ease;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-[14px];
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-br-[4px] rounded-tr-[4px] bg-popover;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[14px] border-4 border-solid border-popover bg-popover-foreground;
  }
}

.side-bar [role="tooltip"] {
  @apply rounded-md border bg-background text-foreground;
}

@media print {
  *, *::before, *::after {
    border-color: #E4E4E7 !important;
  }
  body {
    color: #000 !important;
    color-scheme: light #000 !important;
  }
  svg {
    stroke: #000 !important;
  }
  .no-print {
    display: none;
  }
  @page {
    size: auto;
    margin: 0 -10px;
  }
}
